<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title ">List des conducteurs</h4>
                            <p class="card-category"> Les employes avec/sans Engagement</p>
                        </div>
                        <div class="row">
                                <div class="form-group col-4">                                
                                        <label for="startfrom">Start date  :</label>
                                        <div class="input-group">
                                          <input class="form-control" placeholder="yyyy-MM-dd"
                                                 name="startfrom"  ngbDatepicker #startfrom="ngbDatepicker">
                                                 <div class="input-group-prepend">
                                                        <a class="btn btn-outline-secondary calendar" (click) ="startfrom.toggle()"><i class="fa fa-calendar"></i></a>
                                                  </div>
                                        </div>
                                </div>
                                <div class="form-group col-4">                                
                                        <label for="andto">And date  :</label>
                                        <div class="input-group">
                                          <input class="form-control" placeholder="yyyy-MM-dd"
                                                 name="andto"  ngbDatepicker #andto="ngbDatepicker">
                                                 <div class="input-group-prepend">
                                                        <a class="btn btn-outline-secondary calendar" (click) ="andto.toggle()"><i class="fa fa-calendar"></i></a>
                                                  </div>
                                        </div>
                                </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table  class="table table-striped table-bordered table-sm row-border hover" show-filter="true">
                                    <thead class=" text-primary">
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            Nom Prenom 
                                        </th>
                                        <th>
                                            CNI 
                                        </th>
                                        <th>
                                            CNSS
                                        </th>
                                        <th>
                                            N passeport
                                        </th>
                                        <th>
                                            Type
                                        </th>
                                        <th>
                                            Societe
                                        </th>
                                        <th>
                                            Actions
                                        </th>
                                    </thead>
                                    <tbody *ngIf="listconducteurs?.content">
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr *ngFor="let conducteur of listconducteurs.content ; let j = index ">
                                            <td filter="{ 'id': 'text' }">{{conducteur.id}}</td>
                                            <td>{{conducteur.lastName}} {{conducteur.firstName}}</td>
                                            <td>{{conducteur.cni}}</td>
                                            <td class="text-primary">{{conducteur.cnss}}</td>
                                            <td>{{conducteur.npasseport}}</td>
                                            <td>{{conducteur.conducteurType}}</td>
                                            <td>{{conducteur.entite.name}}</td>
                                            <td>
                                                <button class="btn btn-sm btn-info" (click) ="AddOrEditConducteurs(j, conducteur)">Edit</button>
                                                <button class="btn btn-sm btn-danger" (click)="deletConducteur(conducteur)">Delete</button></td>
                                            </tr>
                                    </tbody>
                                </table>
                        </div>
                        <br>
        
                                    <nav aria-label="...">
                                        <ul style="margin-left: 180px;margin-top:-10px;" class="pagination"  *ngIf="listconducteurs?.content" >
                                            <li (click)="onSelect(selectedPage - 1)" [ngClass]="{disabled:selectedPage  === 0}" class="page-item next-item">
                                                <a class="page-link">Prev</a>
                                            </li>                                           <li *ngFor="let page of ' '.repeat(listconducteurs.totalPages).split(''), let i = index " (click)="onSelect(i)" [class.active]="i === selectedPage" class="page-item"><a class="page-link">{{i}}</a></li>
                                          <!-- <li  (click)="onSelect(i+1)" class="page-item"><a class="page-link">Next</a></li> -->
                                           <li (click)="onSelect(selectedPage + 1)" [ngClass]="{disabled:selectedPage + 1 === listconducteurs.totalPages}" class="page-item next-item">
                                            <a class="page-link">Next</a>
                                        </li> 
                                        </ul>
                                      </nav>
                    </div>
                    </div>
                          <div class="fab" routerLink="/home/conducteur"> + </div>
                </div>
            </div>
        </div>
      </div>