<div  style="padding:15px;">
<form #addressForm="ngForm" class="editForm" novalidate>
    <div class="">
        <h4 class="head text-center">{{title}}</h4>
        <br/>
     <div class='row'>  
<div class='col-6' style="background: #e5e7eb; padding:56px; border-style: solid; border-width: 1px;">  
                <div class ="textadr"> Les Adresses des chargements </div> 
                <div class='row'> 
                     <span (click)="AddadressLoad()" class="btn btn-success"> + </span>
                     <span (click)="DeleteadressLoad()" class="btn btn-danger"> - </span>

                </div>
      <div class="line"></div>
                <br>
     <div class="form-row AdrformL" *ngFor="let adrLo of dataArrayLoad; let i = index">
                <hr>
                    <div class ="text" style="width: 537px;height: 44px;"> Adresse de chargement n {{i + 1}} </div> 
         <div class="row">
                <!-- col-xs-8 col-sm-offset-3  -->
            <div class=''>  
        <div class="row">
             <div class='col-4'>
                    <div class="form-group">
                            <label class="control-label" for="search">Nom Client</label>
                            <input class="form-control input-md" #search  type="text" placeholder="Nom du Client" [formControl]="searchControl" autocomplete="off" autocapitalize="off" spellcheck="false">
                            <!-- <div class="alert alert-danger" [hidden]="street.valid">Street Address is required</div> -->
                        </div>
                    </div>
            <div class='col-4'>
                <div class="form-group">
                    <label class="control-label" for="street">Street Address</label>
                    <input class="form-control input-md" #street1="ngModel" required id="street1" name="streetL{{i + 1}}" type="text" placeholder="Street Address" [(ngModel)]="adrLo.street1">
                    <div class="alert alert-danger" [hidden]="street1.valid">Street Address is required</div>
                </div>
            </div>
            <div class='col-4'>
                    <div class="form-group">
                        <label class="control-label" for="street">Street Address</label>
                        <input class="form-control input-md" #street2="ngModel" required id="street2" name="streetL{{i + 1}}" type="text" placeholder="Street Address" [(ngModel)]="adrLo.street2">
                        <div class="alert alert-danger" [hidden]="street2.valid">Street Address is required</div>
                    </div>
                </div>
        </div>

         <div class="row">
                    <div class='col-4'>
                        <div class="form-group">
                            <label class="control-label" for="city">Ville</label>
                            <input class="form-control input-md" #city="ngModel" required id="city" name="cityL{{i + 1}}" type="text" placeholder="City" [(ngModel)]="adrLo.city">
                            <div class="alert alert-danger" [hidden]="city.valid">City is required</div>
                        </div>
                    </div>
                    <div class='col-4'>
                        <div class="form-group">
                            <label class="control-label" for="country">Pays</label>
                            <input class="form-control input-md" #country="ngModel" required id="country" name="stateL{{i + 1}}" type="text" placeholder="country" [(ngModel)]="adrLo.country">
                            <div class="alert alert-danger" [hidden]="country.valid">country is required</div>
                        </div>
                    </div>
                    <div class='col-4'>
                        <div class="form-group">
                            <label class="control-label" for="zip">Zip</label>
                            <input class="form-control input-md" #zipCode="ngModel" required id="zipCode" name="zipL{{i + 1}}" type="text" placeholder="Zip" [(ngModel)]="adrLo.zipCode">
                            <div class="alert alert-danger" [hidden]="zipCode.valid">Zip is required</div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
                <div class="line"></div>
            </div>
        </div>





        <div class='col-6' style=" background : #e5e7eb; padding:56px; border-style: solid; border-width: 1px;">
                <div class ="textadr"> Les Adresses des Livraisons </div>  
            <div class='row'> 
                   <span (click)="AddadressLivr()" class="btn btn-success"> + </span>
                   <span (click)="DeleteAddadressLivr()" class="btn btn-danger"> - </span>
                 </div>
                    <div class="line"></div>
                 <br>
       
        <div class="form-row Adrform" *ngFor="let adrLv of dataArrayLivr; let j = index">
                <hr>
                <div class ="text" style="width: 537px;height: 44px;"> Adresse de Livraison n {{j + 1}} </div>

                <div class="row">
            <div>
                    
                    <div class="row">
                            <div class='col-4'>
                    <div class="form-group">
                            <label class="control-label" for="nomClient">Nom Client</label>
                            <input class="form-control input-md" #nomClient="ngModel" required id="nomClient" name="nomClientR{{j + 1}}" type="text" placeholder="Nom du Client" [(ngModel)]="adrLv.nomClient">
                            <!-- <div class="alert alert-danger" [hidden]="street.valid">Street Address is required</div> -->
                        </div>
                    </div>
                    <div class='col-4'>
                            <div class="form-group">
                                    <label class="control-label" for="street1">Street Address</label>
                                    <input class="form-control input-md" #street1="ngModel" required id="street1" name="streetR{{j + 1}}" type="text" placeholder="Street Address" [(ngModel)]="adrLv.street1">
                                    <div class="alert alert-danger" [hidden]="street1.valid">Street Address is required</div>
                    </div>
                 </div>
                 <div class='col-4'>
                        <div class="form-group">
                                <label class="control-label" for="street">Street Address</label>
                                <input class="form-control input-md" #street2="ngModel" required id="street2" name="streetR{{j + 1}}" type="text" placeholder="Street Address" [(ngModel)]="adrLv.street2">
                                <div class="alert alert-danger" [hidden]="street2.valid">Street Address is required</div>
                </div>
             </div>
             </div>


            
                <div class="row">
                    <div class='col-4'>
                        <div class="form-group">
                            <label class="control-label" for="city">Ville</label>
                            <input class="form-control input-md" #city="ngModel" required id="city" name="cityR{{j + 1}}" type="text" placeholder="City" [(ngModel)]="adrLv.city">
                            <div class="alert alert-danger" [hidden]="city.valid">City is required</div>
                        </div>
                    </div>
                    <div class='col-4'>
                        <div class="form-group">
                            <label class="control-label" for="country">Pays</label>
                            <input class="form-control input-md" #country="ngModel" required id="country" name="stateR{{j + 1}}" type="text" placeholder="country" [(ngModel)]="adrLv.country">
                            <div class="alert alert-danger" [hidden]="country.valid">country is required</div>
                        </div>
                    </div>
                    <div class='col-4'>
                        <div class="form-group">
                            <label class="control-label" for="zip">Zip</label>
                            <input class="form-control input-md" #zipCode="ngModel" required id="zipCode" name="zipR{{j + 1}}" type="text" placeholder="Zip" [(ngModel)]="adrLv.zipCode">
                            <div class="alert alert-danger" [hidden]="zipCode.valid">Zip is required</div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="line"></div>
            </div>
     
      </div>
    </div>
    <div class="row">

            <div class='col-lg-6'>
        <!-- <button class="btn btn-outline-rounded btn-default" (click)="goToPrevious(addressForm)"> <span style="margin-right:10px;" class="glyphicon glyphicon-arrow-left"></span> Previous</button> -->
        <a  routerLink="/home/operations/add/work"> <button  (click)="goToPrevious(addressForm)" class="btn btn-outline-primary" > Previous </button></a>
    </div>
 
        <div class='col-lg-6'>
        <!-- <button class="btn btn-outline-rounded btn-info" [disabled]="!addressForm.valid" (click)="goToNext(addressForm)"> Next <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button> -->
        <a   routerLink="/home/operations/add/result"> <button  [disabled]="!addressForm.valid"  (click)="goToNext(addressForm)" class="btn btn-outline-success" > Next </button></a>
    </div>
    </div>

   
    </div>
</form>

</div>
