<form #workForm="ngForm" class="editForm" novalidate>
    <div class="form-horizontal">
        <div class="tab-pane fade in active">
            <h4 class="head text-center">{{title}}</h4>
            <br/>
            <div class='row'>
                
                    <div class='col-sm-4'>
                            <div class="">
                                <label for="Conducteurs1">Conducteurs 1</label>
                                <select  class="form-control" #conducteurs1="ngModel" required id="Conducteurs1" name="Conducteurs1" placeholder="Conducteur 1" [(ngModel)]="personal.conducteurs1">
                              <option *ngFor="let cond of conducteur" value="{{cond.id}}"> {{cond.lastname}} {{cond.firstname}}</option>
                              </select>
                            </div>
                    </div>
                  <div class='col-sm-4'>
                            <div class="">
                                    <label for="Conducteurs">Conducteurs 2</label>
                                    <select  class="form-control"  #conducteurs2="ngModel" id="Conducteurs2" name="Conducteurs2" placeholder="Conducteur 2" [(ngModel)]="personal.conducteurs2">
                                  <option *ngFor="let cond of conducteur" value="{{cond.id}}"> {{cond.lastname}} {{cond.firstname}} </option>
                                  </select>
                            </div>
                    </div> 
                    <div class='col-sm-4'>
                        <div class="">
                            <label for="Client"> Client </label>
                            <select  class="form-control" #client="ngModel" required id="Client" name="Client" placeholder="client " [(ngModel)]="personal.client">
                          <option *ngFor="let cl of clients" value="{{cl.id}}"> {{cl.name}} </option>
                          </select>
                        </div>
                </div>
                </div>
                <div class="row">
                    <div class='col-sm-4'>
                        <div>
                        <label class="control-label" for="DotationEURO">Dotation EURO</label>
                        <input class="form-control input-md" pattern="[0-9]"  id="DotationEURO" name="DotationEURO" type="text">
                        </div>
                        <!-- <div *ngIf="DotationEURO.errors?.pattern"> 
                            DotationEURO not valid.
                         </div>  -->
                </div>
                <div class='col-sm-4'>
                    <div>
                    <label class="control-label" for="DotationDH">Dotation DH</label>
                    <input class="form-control input-md" pattern="[0-9]" id="DotationDH" name="DotationDH" type="text">
                    </div>
            </div>
                <div class='col-sm-4'>
                    <div>
                    <label class="control-label" for="Mclient">Motif Client</label>
                    <input class="form-control input-md" required id="Mclient" name="Mclient" type="text">
                    </div>
            </div>
                </div>
            <div class="form-group text-center space-20">
                <button class="btn btn-outline-rounded btn-default" (click)="goToPrevious(workForm)"> <span style="margin-right:10px;" class="glyphicon glyphicon-arrow-left"></span> Previous</button>
                <!-- <button class="btn btn-outline-rounded btn-info" [disabled]="!workForm.valid" (click)="goToNext(workForm)"> Next <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button> -->
                <a  class="nav-link"  routerLink="/home/AddOrEditvoyage/voyage/address"> <button  [disabled]="!workForm.valid"  (click)="goToNext(workForm)" class="btn btn-success btn-outline-rounded btn-info" > Next <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button></a>

            </div>
        </div>
    </div>
</form>
<p>Goood work</p>
