.ex-container {
    height: 700px;
    overflow: auto;
  }
  
  table {
    border: medium solid #6495ed;
    border-collapse: collapse;
  
    }
    th {
    font-family: monospace;
    border: thin solid #6495ed;
    padding: 5px;
    background-color: #D0E3FA;
    text-align: center;
    }
    td {
    font-family: sans-serif;
    border: thin solid #6495ed;
    padding: 5px;
    text-align: center;
    background-color: #ffffff;
    }
    caption {
    font-family: sans-serif;
    }
  
  .custom-pagination .page-number{
      display: inline-block;
      /* padding: 5px 12px; */
      background: #afffe6;
      margin: 0px 4px;
      border-radius: 25px;
      text-align: center;
  }
    
  .center-pagination{
    /* padding: 5px 12px; */
    /* width: 6em */
}

  .page-number.current{
      background: #ffffff!important;
      border: 2px solid #458873;
  }
  
  .page-number span{
      display: block;
      width: 28px;
      height: 28px;
      font-size: 18px;
      cursor: pointer;
  }
  
  .pagination-previous,.pagination-next{
      display: inline-block;
      font-weight: bold;
  }
  
  .fab {
     width: 70px;
     height: 70px;
     background-color:#3f51b5;
     border-radius: 50%;
     box-shadow: 0 6px 10px 0 #666;
     transition: all 0.1s ease-in-out;
  
     font-size: 50px;
     color: white;
     text-align: center;
     line-height: 70px;
  
     position: fixed;
     right: 50px;
     bottom: 50px;
  }
  
  .fab:hover {
     box-shadow: 0 6px 14px 0 #666;
     transform: scale(1.05);
  }
  
  .btn-xl {
    padding: 4px 25px;
    font-size: 19px;
    border-radius: 3px;
}
.filtrer-btn{
  margin-top: 30px;
  position: relative;
}
 .card-list{
  margin-top: -90px;
} 
.exp-data{
  margin-top: 12px;
  position: relative;
}

